/* You can add global styles to this file, and also import other style files */

.currency {
    &.deduction input {
        color: #d75b5b;
    }
    &.total input {
        color: #2d9401;
    }
    input {
        text-align: right;
    }
}

.totality {
    border-color: #6698ad;
    .p-inputgroup.penalty {
        color: #e05e5e;
    }

    &:sticky {
        color: red;
    }

    // input {
    //     padding-top: .2rem;
    //     padding-bottom: .2rem;
    // }
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

div::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f5f5f5;
}

div::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: var(--primary-color);
}

div::-webkit-scrollbar-thumb:hover {
    border: 3px solid var(--primary-color);
}

div.p-dialog-header {
    background-color: transparent;
}

div#QRCode svg {
    width: 200px;
}

div.p-datatable.footer-bg-none .p-datatable-footer {
    padding: 0 !important;
}

.p-dialog.header-pb-0 .p-dialog-header {
    padding-bottom: 0;
}

.p-dialog.header-pb-1 .p-dialog-header {
    padding-bottom: 1rem;
}

.p-dialog.header-pt-0 .p-dialog-header {
    padding-top: 0;
}

.p-dialog.header-pt-1 .p-dialog-header {
    padding-top: 1rem;
}

.p-dialog.header-mb-1 .p-dialog-header {
    margin-bottom: 1rem;
}

.p-dialog .p-dialog-header {
    background-color: var(--p-datatable-header-background);
    border-radius: var(--p-dialog-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.p-dialog[no-header] .p-dialog-header {
    background-color: transparent;
    padding: 1rem 0;
}

legend.p-fieldset-legend {
    background: none;
    border-radius: 0;
    border-width: 0;
}
